/* Header */
header img {
    width: 150px;
    margin-bottom: 10px;
}
.img {
    width: 100px;
}

header {
    padding-top: 10px;
    background-color: #acb9b8;
}

.zIndex {
    
}

header nav{
    box-shadow: none;
    background-color: #829c9a;
}

header p {
    font-size: 1.7em;
    margin-bottom: 10px;
    color: #3f3f40;
}

.sidNavColor{
    color: #3f3f40;
}

header h4 {
    color: #3f3f40;
}

#centeredmenu {
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;

 }
 #centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
 }
 #centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
 }
 #centeredmenu ul li a {
    display:block;
    margin-right: 20px;
    padding:10px 10px;
    color:#3f3f40;
    text-decoration:none;
    line-height:1.1em;
    font-size: 2.7em;
 }

 /* About me Section */

 #paragraph {
    width: 85%;
    margin-left: 20px;
}
 .aboutMe {
     margin-top: 30px;
 }

 .bgImage {
     max-width: 100%;
 }
 .parallax-container {
    height: 300px;
  }
    
 /* body {
    background-image: url(../images/bgImage.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center 85px;
    background-size: cover;
} */

div p {
    color: #3f3f40;
    opacity: .7;
}

/* portfolio */
span {
    font-size: x-large;
}

.span {
    float: left;
    width: 50%;
}

.portfolioTop {
    margin-bottom: 20px;
}

.websitePics {
    width: 400px;
    margin-left: 66px;
}

/* footer */
footer a img{
    height: 50px;
    background: white;
}

#footerOne {
    background-color: #acb9b8;
}

#footer {
    background-color: #829c9a;

}

@media only screen and (max-width: 1416px) {
    .websitePics {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 1231px) {
    .span {
        width: 100%;
    }
    .websitePics {
        margin-top: 10px;
        width: 100%;
    }
}